@import url(styles/menu-hamburger.css);

:root {
    --cor-de-fundo: #EBECEE;
}

body {
    background-color: var(--cor-de-fundo);

}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #FFFFFF;
    position: relative;
}

.cabecalho__container {
    display: flex;
    justify-content: center;
}
.cabecalho__container--menu {
    gap: 30px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
}

.lista-menu {
    padding: 24px 145px 16px 24px;
    background-color: white;
}

.lista-menu__titulo {
    padding-bottom: 32px;
}

.lista-menu__item {
    padding-bottom: 32px;
}

#checkbox--menu:checked ~ .lista-menu{
    display: block;
    
}

.cabecalho__container--imagem {
    width: 40px;
}

