.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: relative;
    align-items: center;
}

.cabecalho__container {
    display: flex;
    gap: 1em;
}

.cabecalho__logo {
    width: 40px;
}

.titulo {
    display: none;
}

.cabecalho__container--icone {
    padding: 0 1em;
}

.lista-categorias {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60vw;
    background-color: white;
    z-index: 2;
}

.lista-categorias__titulo, .lista-categorias__item{
    padding: 1em;
    font-size: 16px;
    line-height: 24px;
}

.lista-categorias__titulo {
    font-weight: 700;
    color: var(--amarelo-destaque);
}

.lista-categorias__item {
    font-weight: 500;
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

#checkbox--menu:checked ~ .lista-categorias {
    display: block;
}

.menu {
    display: none;
}

.titulo {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        justify-content: space-evenly;
        padding: 0.5em 0;
    }

    .cabecalho__container {
        align-items: center;
    }

    .cabecalho__container--icone {
        gap: 2em;
        padding: 0;
    }

    .container__imagem--favoritos {
        display: none;
    }

    .titulo {
        display: block;
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
    }

    .titulo__negrito {
        font-family: 'Josefin Sans';
        font-weight: 800;
        font-size: 30px;
        line-height: 30px;
    }

    .opções {
        display: flex;
        gap: 3em;
    }

}