.contato {
    background-color: white;
    padding: 2em;
    color: var(--azul-destaque);
}

.contato__titulo {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 1em;
}

.contato__texto {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px; 
    padding-bottom: 1em;
}

.contato__email {
    padding: 0.5em;
    border: 1px solid var(--azul-destaque);
    border-radius: 24px;
    width: 90%;
}

.contato__email::placeholder {
    color: var(--azul-destaque);
    background: url("../img/email.svg") no-repeat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 3em;
    background-position: 1em;
}