.carrossel__titulo {
  color: var(--amarelo-destaque);
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1em;
}

.swiper-pagination {
  position: initial;
  padding: 0.5em 0;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-next, .swiper-button-prev {
  display: none;
}

@media screen and (min-width: 1024px) {
  
  .carrossel__titulo {
    font-size: 26px;
    line-height: 39px;
  }

  .swiper {
    width: 60%;
  }

  .swiper-button-next, .swiper-button-prev {
    display: block;
  }

}

@media screen and (min-width: 1728px) {
  .carrossel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding: 2em 0 5em 0;
  }

  .swiper {
    width: 750px;
  }

  .swiper-pagination {
    position: initial;
    padding: 2em 0;
  }

}