hr { 
    margin: 0;
}

.rodape {
    background-color: white;
    padding: 1.5em 0 1.5em 2em;
}

.rodape__titulo {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--azul-destaque);
}

.rodape__titulo--secao, .rodape__lista-secao, .lista-secao__item {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .rodape__titulo {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        grid-column: 1;
        grid-row: 1;
    }

    .rodape__titulo--secao {
        grid-row: 1;
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-transform: uppercase;
        color: #858585;
    }

    .rodape__lista-secao {
        display: grid;
        grid-row: 2;
        align-items: center;
        justify-content: start;
        gap: 1em;
    }

    .lista-secao__item, .lista-secao__item a{
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #474646;
        text-decoration: none;
    }

    .rodape__titulo-educacao, .rodape__lista-educacao, .lista-secao__caelum, .lista-secao__casadocodigo {
        grid-column: 2;
    }

    .rodape__titulo-educacaoonline, .rodape__lista-educacaoonline {
        grid-column: 3; 
    }

    .lista-secao__alura, .lista-secao__aluraparaempresas {
        grid-column: 2; 
    }

    .rodape__titulo-comunidade, .rodape__lista-comunidade {
        grid-column: 4;
    }

    .lista-secao__hipsterspontotech, .lista-secao__scubadev {
        grid-column: 2;
    }
}